@import url(../00-geral/geral-style.css);

.quem-somos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.quem-somos__descricao, .quem-somos__img{
    width: 315px;
    margin-left: 30px;
    margin-right: 30px;
}

.quem-somos__img > img{
    width: 400px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


@media (max-width: 750px){
    .quem-somos__descricao{
        padding-bottom: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .quem-somos__img > img {
        width: 100%;
    }
}